@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');

body {
	/*font-family: Rajdhani;*/
  color: rgba(255,255,255,1);
  
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(bg2.jpeg);
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
}

a:link {
  color: inherit;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

#layout {
	width: 600px;
	height: 100%;
	display: table;
	margin-right: auto;
	margin-left: auto;
}

#bodycontainer {
	display: table-cell;
	vertical-align: middle;
  text-align: left;
}

#brand {
  font-family: Arial;
  font-size: 36px;
  margin: 0 0 .5em 0;
}
#brand2 {
  font-family: Arial;
  font-size: 24px;
  line-height: 1em;
  margin: 0;
}

#maincontent {
  font-family: Cormorant Garamond;
  line-height: 1.5em;
}

.content-item {
  margin: 1.5em 0;
  line-height: 1.5em;
}

#description {
  font-size: 24px;
}

#location {
  font-size: 18px;
  line-height: 1.8em;
}

#contact {
  line-height: 1.5em;
  font-family: 'IBM Plex Sans';
  font-size: 12px;
  font-weight: 300;
}