@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700&display=swap');

body {
	font-family: Rajdhani;
  font-weight: 400;
  /*color: rgba(235,235,235,1);
  background-color: rgba(20,20,20,1);*/
  color: rgba(20,20,20,1);
  background-color: rgba(245,245,245,1);
  letter-spacing: .1em;
}

a:link {
  
  color: inherit;
}

#maincontainer {
	width: 600px;
	height: 100%;
	display: table;
	margin-right: auto;
	margin-left: auto;
}

#headercontainer {
	display: table-cell;
	vertical-align: middle;
  text-align: center;
}

#headertitlecontainer {
  padding-bottom: 8px;
}

#headertitle {
	font-size: 42px;
  font-weight: 500;
}

#headersubtitlecontainer {
	padding-bottom: 16px;
}

#subheadertitle {
	font-size: 24px;
  color: rgba(50,50,50,1);
}

#headernavcontainer {
  padding-bottom: 16px;
}

#headernavtext {
	font-size: 18px;
  font-weight: 600;
}

#headerblurbcontainer {
	
}

#headerblurbtext {
	font-size: 12px;
}

